<!-- <div *ngIf="!isLoading"> -->
<div class="data-table">
  <table
    mat-table
    matSort
    aria-label="dataSource">

    <ng-container matColumnDef="index" sticky>
      <th class="w-60px" *matHeaderCellDef mat-sort-header> Sl No. </th>
      <td class="w-60px" *matCellDef="let dataSource; let i = index">
        {{ (paginator.pageIndex * paginator.pageSize) + (i + 1) }}
      </td>
    </ng-container>
    <ng-container matColumnDef="benefName">
      <th class="w-120px" *matHeaderCellDef mat-sort-header>Benifeciery Name</th>
      <td class="w-120px" *matCellDef="let dataSource"> {{dataSource.benefName}} </td>
    </ng-container>
    <ng-container matColumnDef="senderMobNo">
      <th class="w-120px" *matHeaderCellDef mat-sort-header>Sender Mobile No.</th>
      <td class="w-120px" *matCellDef="let dataSource"> {{dataSource.senderMobNo}} </td>
    </ng-container>
  
    <ng-container matColumnDef="senderName">
      <th class="w-120px" *matHeaderCellDef mat-sort-header>Sender Name</th>
      <td class="w-120px" *matCellDef="let dataSource"> {{dataSource.senderName}} </td>
    </ng-container>
  
    <ng-container matColumnDef="accountNumber">
      <th class="w-120px" *matHeaderCellDef mat-sort-header>Account No.</th>
      <td class="w-120px" *matCellDef="let dataSource"> {{dataSource.accountNumber}} </td>
    </ng-container>
    <ng-container matColumnDef="payType">
      <th class="w-80px" *matHeaderCellDef mat-sort-header>Type</th>
      <td class="w-80px" *matCellDef="let dataSource"> {{dataSource.payType}} </td>
    </ng-container>
    <ng-container matColumnDef="ifscCode">
      <th class="w-100px" *matHeaderCellDef mat-sort-header>IFSC Code</th>
      <td class="w-100px" *matCellDef="let dataSource"> {{dataSource.ifscCode}} </td>
    </ng-container>
    <ng-container matColumnDef="bankName">
      <th class="w-120px" *matHeaderCellDef mat-sort-header>Bank Name</th>
      <td class="w-120px" *matCellDef="let dataSource"> {{dataSource.bankName}} </td>
    </ng-container>
    <ng-container matColumnDef="payAmountInWords">
      <th class="w-300px" *matHeaderCellDef mat-sort-header>Amount</th>
      <td class="w-300px" *matCellDef="let dataSource"> {{dataSource.payAmountInWords}} </td>
    </ng-container>
    <ng-container matColumnDef="todayDate">
      <th class="w-100px" *matHeaderCellDef mat-sort-header>Date</th>
      <td class="w-100px" *matCellDef="let dataSource"> {{dataSource.todayDate}} </td>
    </ng-container>
    <ng-container matColumnDef="todayTime">
      <th class="w-100px" *matHeaderCellDef mat-sort-header>Time</th>
      <td class="w-100px" *matCellDef="let dataSource"> {{dataSource.todayTime}} </td>
    </ng-container>
    <ng-container matColumnDef="transactionId">
      <th class="w-120px" *matHeaderCellDef mat-sort-header>Transaction ID</th>
      <td class="w-120px" *matCellDef="let dataSource"> {{dataSource.transactionId}} </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th class="w-100px" *matHeaderCellDef mat-sort-header>Status</th>
      <td
        class="w-100px col-{{dataSource.status}}"
        *matCellDef="let dataSource"> {{dataSource.status}} </td>
    </ng-container>
    <!-- delete -->
    <ng-container matColumnDef="delete">
      <th class="w-80px" *matHeaderCellDef mat-sort-header>Action</th>
      <td class="w-80px" *matCellDef="let dataSource">
        <button
          type="button"
          (click)="onDeletePayData(dataSource.delId)"
          color="warn"
          mat-raised-button
          >
          <i class="fas fa-trash"></i>
          </button>
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
 
</div>
<mat-paginator
  [length]="dataSource?.data.length"
  #paginator
  showFirstLastButtons
  [pageIndex]="0"
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 20, 50, 100, 250, 500, 1000]">
</mat-paginator>
<!-- </div> -->
<div class="my-spinner" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>