<mat-sidenav-container class="example-container">
  <mat-sidenav 
  #sidenav
  mode="over"
  [(opened)]="opened"
  (opened)="events.push('open!')"
  (closed)="events.push('close!')">
    <mat-toolbar>
      Menu
    </mat-toolbar>
    <mat-nav-list>
      <a 
        *ngIf="isAuthenticated"
        mat-list-item
        routerLinkActive="active"
        routerLink="/add-pay-form"
        (click)="sidenav.toggle()">
        <i class="fas fa-money-check"></i>
        &nbsp;&nbsp;
        New Payment
      </a>
      <mat-divider></mat-divider>
      <a 
        *ngIf="!isAuthenticated"
        mat-list-item
        routerLinkActive="active" 
        routerLink="/account"
        (click)="sidenav.toggle()">
        <i class="fas fa-user-circle"></i>
        &nbsp;&nbsp;
        Accounts
      </a>
      <a 
        *ngIf="isAuthenticated"
        mat-list-item
        routerLinkActive="active" 
        routerLink="/account"
        (click)="logout()"
        (click)="sidenav.toggle()">
        <i class="fas fa-power-off"></i>
        &nbsp;&nbsp;
        Log Out
      </a>
      <mat-divider></mat-divider>
      <!-- <a 
        *ngIf="isAuthenticated"
        mat-list-item
        routerLinkActive="active" 
        routerLink="/dashboard"
        (click)="sidenav.toggle()">
        <i class="fas fa-cogs"></i>
        &nbsp;&nbsp;
        Dashboard
      </a> -->
        <!-- routerLinkActive="active" 
        routerLink="/student" -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="sidenav.toggle()">
        <i class="fa fa-bars"></i>
      </button>
      <span class="navbar-brand" routerLink="">
        NS Enterprise
        <br>
        <small>Online payment portal</small>
      </span>
      <div style="margin-left: auto;" class="nav-menu-link">
        <a 
          *ngIf="isAuthenticated"
          mat-raised-button
          routerLinkActive="active"
          routerLink="/add-pay-form">
          <!-- New Payment -->
          <i class="fas fa-money-check"></i>
        </a>
        <a 
          *ngIf="!isAuthenticated"
          mat-raised-button
          routerLinkActive="active" 
          routerLink="/account">
          <!-- My Accounts -->
          <i class="fas fa-user-circle"></i>
        </a>
        <a 
          *ngIf="isAuthenticated"
          mat-raised-button
          routerLinkActive="active" 
          routerLink="/account"
          (click)="logout()">
          <!-- Log Out -->
          <i class="fas fa-power-off"></i>
        </a>
      </div>
    </mat-toolbar>
    <!-- inner components -->
    <router-outlet></router-outlet>
    <!-- <app-add-pay-form></app-add-pay-form>
    <app-pay-success-invoice></app-pay-success-invoice> -->
    <!-- inner components -->
  </mat-sidenav-content>
</mat-sidenav-container>
