<button
  type="button"
  (click)="goBack()"
  color="primary"
  mat-raised-button
  style="margin-bottom: 10px;">
  <i class="fas fa-arrow-left"></i>
  &nbsp;&nbsp;
  go back
</button>
<mat-card *ngIf="!isLoading">
  <h5>Payment Entries Database</h5>
  <!-- <mat-form-field>
    <mat-label>Search entries</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input autocomplete="off">
  </mat-form-field> -->

  <!-- <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="index">
      <mat-header-cell class="w-80px" *matHeaderCellDef mat-sort-header> Sl No. </mat-header-cell>
      <mat-cell class="w-80px" *matCellDef="let index = index"> {{index+1}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="benefName">
      <mat-header-cell class="w-120px" *matHeaderCellDef mat-sort-header>Benifeciery Name</mat-header-cell>
      <mat-cell class="w-120px" *matCellDef="let dataSource"> {{dataSource.benefName}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="senderMobNo">
      <mat-header-cell class="w-120px" *matHeaderCellDef mat-sort-header>Sender Mobile No.</mat-header-cell>
      <mat-cell class="w-120px" *matCellDef="let dataSource"> {{dataSource.senderMobNo}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="senderName">
      <mat-header-cell class="w-120px" *matHeaderCellDef mat-sort-header>Sender Name</mat-header-cell>
      <mat-cell class="w-120px" *matCellDef="let dataSource"> {{dataSource.senderName}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="accountNumber">
      <mat-header-cell class="w-120px" *matHeaderCellDef mat-sort-header>Account No.</mat-header-cell>
      <mat-cell class="w-120px" *matCellDef="let dataSource"> {{dataSource.accountNumber}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="payType">
      <mat-header-cell class="w-800px" *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
      <mat-cell class="w-800px" *matCellDef="let dataSource"> {{dataSource.payType}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ifscCode">
      <mat-header-cell class="w-100px" *matHeaderCellDef mat-sort-header>IFSC Code</mat-header-cell>
      <mat-cell class="w-100px" *matCellDef="let dataSource"> {{dataSource.ifscCode}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="bankName">
      <mat-header-cell class="w-120px" *matHeaderCellDef mat-sort-header>Bank Name</mat-header-cell>
      <mat-cell class="w-120px" *matCellDef="let dataSource"> {{dataSource.bankName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="payAmountInWords">
      <mat-header-cell class="w-300px" *matHeaderCellDef mat-sort-header>Amount</mat-header-cell>
      <mat-cell class="w-300px" *matCellDef="let dataSource"> {{dataSource.payAmountInWords}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="todayDate">
      <mat-header-cell class="w-100px" *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
      <mat-cell class="w-100px" *matCellDef="let dataSource"> {{dataSource.todayDate}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="todayTime">
      <mat-header-cell class="w-100px" *matHeaderCellDef mat-sort-header>Time</mat-header-cell>
      <mat-cell class="w-100px" *matCellDef="let dataSource"> {{dataSource.todayTime}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="transactionId">
      <mat-header-cell class="w-120px" *matHeaderCellDef mat-sort-header>Transaction ID</mat-header-cell>
      <mat-cell class="w-120px" *matCellDef="let dataSource"> {{dataSource.transactionId}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="status">
      <mat-header-cell class="w-100px" *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
      <mat-cell
        class="w-100px col-{{dataSource.status}}"
        *matCellDef="let dataSource"> {{dataSource.status}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="delete">
      <mat-header-cell class="w-80px" *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
      <mat-cell class="w-80px" *matCellDef="let dataSource">
        <button
          type="button"
          (click)="onDeletePayData(dataSource.delId)"
          color="warn"
          mat-raised-button
          >
          <i class="fas fa-trash"></i>
          </button>
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table> -->
  <!-- [pageSize]="5" -->
  <!-- <mat-paginator
    #scheduledOrdersPaginator 
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    ></mat-paginator> -->

  <app-data-table></app-data-table>
</mat-card>
<div
  class="my-spinner"
  *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>