form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.w-100 {
  width: 100%;
}
h4 {
  color: #333;
  text-shadow: none;
  outline: none;
  text-align: center;
  font-size: 24px;
}
.btn-submit {
  display: block;
  margin: auto;
  font-size: 18px;
}
mat-card {
  /* background: #f4f4f4; */
}
