.main-div {
}
.main-div > div {
  margin-bottom: 0;
  display: flex;
  justify-content: flex-start;
}
.main-div p {
  display: inline-block;
  padding-left: 10px;
  margin: 0;
}
.mat-dialog-actions {
  display: flex;
  justify-content: space-between;
}
.mat-divider {
  margin: 12px 0;
}
.mat-dialog-title {
  margin: 0 0 30px;
  text-align: center;
  font-size: 22px;
}
.success-card {
  z-index: 99999;
  padding: 30px 50px;
  color: #097b0f;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  margin: -24px;
}
.success-card .img-fluid {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.success-card img {
  vertical-align: middle;
  border-style: none;
}
.success-card p {
  margin: 0;
  margin-top: 20px;
  font-weight: 700;
}
.success-card p.p2 {
  font-size: 12px;
  color: #333;
  text-align: center;
  margin-bottom: 10px;
}
.success-card button {
}
.success-card .mat-progress-bar-fill::after {
  background-color: #4fc654;
}
