<div
  class="modal-wrapper"
  *ngIf="!inPaymentMode && !redirectToInvoice">
  <h1 mat-dialog-title>Are you sure to Process this Transaction ?</h1>
  <div mat-dialog-content>
    <div class="main-div">
      <div>
        <b>Beneficiary Name:</b>
        <p>{{payFormData.benefName}}</p>
      </div>
      <mat-divider></mat-divider>
      <div>
        <b>Account Number:</b>
        <p>{{payFormData.accountNumber}}</p>
      </div>
      <mat-divider></mat-divider>
      <div>
        <b>IFSC Code:</b>
        <p>{{payFormData.ifscCode}}</p>
      </div>
      <mat-divider></mat-divider>
      <div>
        <b>Amount</b>
        <p>{{payFormData.payAmountInWords}}</p>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button 
      mat-button
      mat-raised-button
      color="primary"
      (click)="gotoPayInvoice()">Pay</button>
    <button
      mat-button
      mat-raised-button
      color="warn"
      (click)="onNoClick()">Cancle</button>
  </div>
</div>
<mat-spinner
*ngIf="inPaymentMode"></mat-spinner>
<div
  class="success-card"
  *ngIf="redirectToInvoice"
  >
  <div class='img-fluid' style="font-size: 110px;">
    <!-- <img src="assets/img/pay-done.png" alt="" class="logo" width="80"> -->
    <i class="far fa-check-circle"></i>
  </div>
  <strong></strong>
  <p>Payment done successfully </p>
  <!-- <button
    type="button"
    class="close">
    <span aria-hidden="true">&times;</span>
  </button> -->
  <p class="p2">GENERATING RECEIPT IN ({{redirectCountDown}} Sec)</p>
  <!-- <mat-progress-bar mode="determinate" [value]="redirectCount"></mat-progress-bar> -->
</div>