form {
  padding-bottom: 20px;
}
mat-card {
  margin: 20px 20px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
}
mat-card mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  /* width: calc(50% - 20px); */
  margin: 0 10px 10px;
}
.btn-submit {
  display: block;
  margin: auto;
  font-size: 18px;
}
.btn-submit svg {
  font-size: 15px;
  margin-top: -3px;
  margin-left: 3px;
}
.w-100 {
  width: 100%;
}
.w-50 {
  width: calc(50% - 20px);
}
@media only screen and (max-width: 500px) {
  .w-sm-100 {
    width: 100% !important;
  }
}
.mat-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(0 0 0 / 35%);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-spinner {
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
}
.match-found-card {
  width: 60vw;
  margin: 0;
}
.match-found-card > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .match-found-card h5 {
  font-size: 16px;
} */
.match-found-card table {
  width: 100%;
  border-bottom: 1px solid #ddd;
  margin: 0 0 10px;
  /* height: 250px;
  overflow-y: auto; */
}
.match-found-card th,
.match-found-card td {
  text-align: center;
  font-size: 14px;
}
.match-found-card td {
  font-weight: 600;
}
@media only screen and (max-width: 500px) {
  .match-found-card {
    width: 80vw;
  }
}
