<mat-card>
  <h4>Dashbord Menu</h4>
  <div class="main-menu">
    <button 
    type="button"
    mat-raised-button
    color="primary"
    (click)="gotoManageBank()">
    Manage Bank Names
  </button>
  <span> | </span>
  <button 
    type="button"
    mat-raised-button
    color="primary"
    (click)="gotoManagePayment()">
    Manage Payment Entries
  </button>
  </div>
</mat-card>

<div class="view-card">
  <mat-card>
    <h3>Banks Added</h3>
    <p *ngIf="!bankLoading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </p>
    <p *ngIf="bankLoading">{{bankData.length}}</p>
  </mat-card>
  <mat-card>
    <h3>Payment Done</h3>
    <p *ngIf="!payLoading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </p>
    <p *ngIf="payLoading">{{payData.length}}</p>
  </mat-card>
  <mat-card>
    <h3>Total (₹)</h3>
    <p *ngIf="!totalLoading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </p>
    <p *ngIf="totalLoading">{{totalPaid}}</p>
  </mat-card>
</div>