<div class="main">
  <!-- <button 
  type="button"
  mat-raised-button
  color="primary"
  >
  
  Manage Bank Names
</button>
<span> | </span>
<button 
  type="button"
  mat-raised-button
  color="primary"
  >
  
  Manage Payment Entries
</button> -->
  <router-outlet></router-outlet> 
</div>
<!-- <mat-card>
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Bank Name</mat-label>
      <textarea 
        matInput
        #bankNamesTextArea
        rows="20">{{fullBankNames}}</textarea>
      <mat-error *ngIf="paymentForm.get('benefName').hasError('required')">
        This field is required
      </mat-error>
    </mat-form-field>
  </mat-card>
  <mat-card>
    <button
      type="button"
      mat-raised-button
      color="primary"
      (click)="updateBankNames(bankNamesTextArea.value)">
      Update Bank Name
    </button>
    <span> | </span>
    <button
      type="button"
      mat-raised-button
      color="primary"
      (click)="fetchBankNames()">
      Fetch Bank Names
    </button>
  </mat-card> -->