<!-- <mat-card>
  <button 
    mat-raised-button 
    type="button"
    class="btn-submit"
    color="primary"
    routerLinkActive="active" 
    routerLink="/add-pay-form">
    New Payment
    </button>
</mat-card> -->
<div>
  <div class="carousel">
    <ul class="slides">
      <!-- first slide -->
      <input type="radio" name="radio-buttons" id="img-1" checked />
      <li class="slide-container">
        <div class="slide-image">
          <img src="assets/img/banner/1.jpg" />
        </div>
        <div class="carousel-controls">
          <label for="img-5" class="prev-slide">
            <span>&lsaquo;</span>
          </label>
          <label for="img-2" class="next-slide">
            <span>&rsaquo;</span>
          </label>
        </div>
      </li>
      <!-- second slide -->
      <input type="radio" name="radio-buttons" id="img-2" />
      <li class="slide-container">
        <div class="slide-image">
          <img src="assets/img/banner/2.jpg" />
        </div>
        <div class="carousel-controls">
          <label for="img-1" class="prev-slide">
            <span>&lsaquo;</span>
          </label>
          <label for="img-3" class="next-slide">
            <span>&rsaquo;</span>
          </label>
        </div>
      </li>
      <!-- third slide -->
      <input type="radio" name="radio-buttons" id="img-3" />
      <li class="slide-container">
        <div class="slide-image">
          <img src="assets/img/banner/3.jpg" />
        </div>
        <div class="carousel-controls">
          <label for="img-2" class="prev-slide">
            <span>&lsaquo;</span>
          </label>
          <label for="img-4" class="next-slide">
            <span>&rsaquo;</span>
          </label>
        </div>
      </li>
      <!-- fourth slide -->
      <input type="radio" name="radio-buttons" id="img-4" />
      <li class="slide-container">
        <div class="slide-image">
          <img src="assets/img/banner/4.jpg" />
        </div>
        <div class="carousel-controls">
          <label for="img-3" class="prev-slide">
            <span>&lsaquo;</span>
          </label>
          <label for="img-5" class="next-slide">
            <span>&rsaquo;</span>
          </label>
        </div>
      </li>
      <!-- fifth slide -->
      <input type="radio" name="radio-buttons" id="img-5" />
      <li class="slide-container">
        <div class="slide-image">
          <img src="assets/img/banner/5.jpg" />
        </div>
        <div class="carousel-controls">
          <label for="img-4" class="prev-slide">
            <span>&lsaquo;</span>
          </label>
          <label for="img-1" class="next-slide">
            <span>&rsaquo;</span>
          </label>
        </div>
      </li>
      <div class="carousel-dots">
        <label for="img-1" class="carousel-dot" id="img-dot-1"></label>
        <label for="img-2" class="carousel-dot" id="img-dot-2"></label>
        <label for="img-3" class="carousel-dot" id="img-dot-3"></label>
        <label for="img-3" class="carousel-dot" id="img-dot-4"></label>
        <label for="img-3" class="carousel-dot" id="img-dot-5"></label>
      </div>
    </ul>
    <div class="banner-text">
      <h4>SPEND TIME TO MAKE MONEY</h4>
      <h4>SPEND TIME TO ENJOY MONEY</h4>
      <p>India's Fastest Online Payment Center</p>
      <button
        mat-raised-button
        type="button"
        class="btn-submit"
        color="primary"
        routerLinkActive="active"
        routerLink="/add-pay-form"
      >
        New Payment
      </button>
    </div>
  </div>
</div>
<div class="services we-offer-area text-center bg-gray">
  <h4 class="my-title m-0" id="services">Our Services</h4>
  <!-- <mat-card>
    <h5>ONLINE SERVICES</h5>
    <p>Lorem ipsum dolor sit amet</p>
  </mat-card>
  <mat-card>
    <h5>Air & TRAIN TICKETING</h5>
    <p>Lorem ipsum dolor sit amet</p>
  </mat-card>
  <mat-card>
    <h5>MONEY TRANSFER</h5>
    <p>Lorem ipsum dolor sit amet</p>
  </mat-card>
  <mat-card>
    <h5>LIFE INSURANCE</h5>
    <p>Lorem ipsum dolor sit amet</p>
  </mat-card>
  <mat-card>
    <h5>HEALTH & GEN. INSURANCE</h5>
    <p>Lorem ipsum dolor sit amet</p>
  </mat-card>
  <mat-card>
    <h5>LOAN SERVICES</h5>
    <p>Lorem ipsum dolor sit amet</p>
  </mat-card> -->
  <!-- services -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="site-heading text-center">
                    <h2>What we <span>Offer</span></h2>
                    <h4>Lorem Ipsum is simply dummy text</h4>
                </div>
            </div>
        </div>
            <div class="row our-offer-items less-carousel">
                <!-- Single Item -->
                <div class="col-md-4 col-12 equal-height">
                    <div class="item">
                      <i class="fas fa-globe-americas"></i>
                        <h4>ONLINE SERVICES</h4>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        </p>
                    </div>
                </div>
                <!-- End Single Item -->

                <!-- Single Item -->
                <div class="col-md-4 col-12 equal-height">
                    <div class="item">
                        <i class="fas fa-ticket-alt"></i>
                        <h4>Air & TRAIN TICKETING</h4>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        </p>
                    </div>
                </div>
                <!-- End Single Item -->

                <!-- Single Item -->
                <div class="col-md-4 col-12 equal-height">
                    <div class="item">
                        <i class="fas fa-rupee-sign"></i>
                        <h4>MONEY TRANSFER</h4>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        </p>
                    </div>
                </div>
                <!-- End Single Item -->

                <!-- Single Item -->
                <div class="col-md-4 col-12 equal-height">
                    <div class="item">
                      <i class="fas fa-user-friends"></i>
                        <h4>LIFE INSURANCE</h4>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        </p>
                    </div>
                </div>
                <!-- End Single Item -->

                <!-- Single Item -->
                <div class="col-md-4 col-12 equal-height">
                    <div class="item">
                      <i class="fas fa-heartbeat"></i>
                        <h4>HEALTH & GEN. INSURANCE</h4>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        </p>
                    </div>
                </div>
                <!-- End Single Item -->

                <!-- Single Item -->
                <div class="col-md-4 col-12 equal-height">
                    <div class="item">
                      <i class="fas fa-balance-scale"></i>
                        <h4>LOAN SERVICES</h4>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        </p>
                    </div>
                </div>
                <!-- End Single Item -->
            </div>
    </div>
  <!-- services -->
</div>
<div id="about-us" class="about-us">
  <h4 class="my-title m-0">About Us</h4>
</div>
<!-- <div id="contactus" class="contact-us">
  <h4 class="my-title m-0" id="services">Contact Us</h4>
</div> -->
<!-- footer -->
<footer class="footer-section">
  <div class="container">
    <div id="contactus" class="footer-cta pt-5 pb-5">
      <div class="row">
        <div class="col-md-4 col-12">
          <div class="single-cta">
            <i class="fas fa-map-marker-alt"></i>
            <div class="cta-text">
              <h4>Find us</h4>
              <span>champasari, Siliguri </span>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="single-cta">
            <i class="fas fa-phone"></i>
            <div class="cta-text">
              <h4>Call us</h4>
              <span>9876543210 0</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="single-cta">
            <i class="far fa-envelope-open"></i>
            <div class="cta-text">
              <h4>Mail us</h4>
              <span>mail@info.com</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-content pt-5 pb-5">
      <div class="row">
        <div class="col-xl-4 col-md-12 col-12">
          <div class="footer-widget">
            <div class="footer-logo">
              <a href="index.html"
                >
                <!-- <img src="https://i.ibb.co/QDy827D/ak-logo.png" class="img-fluid" alt="logo"/> -->
                <h4>NS Enterprise</h4>
                <small>Online payment portal</small>
              </a>
            </div>
            <div class="footer-text">
              <p>
                India's fastest money transfer. 
                Spend time to make money,
                Spend time to enjoy money
              </p>
            </div>
            <div class="footer-social-icon">
              <span>Follow us</span>
              <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
              <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
              <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-12">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3>Useful Links</h3>
            </div>
            <ul>
              <li><a href="#top">Home</a></li>
              <li><a href="#services">Our Services</a></li>
              <!-- <li><a href="#">portfolio</a></li> -->
              <li><a href="#aboutus">About us</a></li>
              <li><a href="#">Expert Team</a></li>
              <li><a href="#">Latest News</a></li>
              <li><a href="#contactus">Contact us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-12">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3>Subscribe</h3>
            </div>
            <div class="footer-text mb-25">
              <p>
                Don’t miss to subscribe to our new feeds, kindly fill the form
                below.
              </p>
            </div>
            <div class="subscribe-form">
              <form action="#">
                <input type="text" placeholder="Email Address" />
                <button><i class="fab fa-telegram-plane"></i></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-area">
    <div class="container">
      <div class="row">
        <div class="col-6 text-center text-lg-left col-12">
          <div class="copyright-text">
            <p>
              Copyright &copy; 2021, All Right Reserved
              <a href="https://codepen.io/anupkumar92/">NS Enterprise</a>
            </p>
          </div>
        </div>
        <div class="col-6 d-sm-none text-right">
          <div class="footer-menu">
            <ul>
              <li><a href="#top">Home</a></li>
              <li><a href="#services">Services</a></li>
              <li><a href="#">Contact</a></li>
              <li><a>|</a></li>
              <li><a href="#">New Payment</a></li>
              <!-- <li><a href="#">Account</a></li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
