.pay-invoice {
  overflow-x: hidden;
  scroll-behavior: smooth;
  text-align: center;
  font-family: roboto, helvetica, sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1026px;
  min-width: 1026px;
  width: 1026px;
  margin: auto;
}
.container-fluid {
  padding: 20px 0;
}
.main-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}
.main-table {
  text-align: left;
  border-top: 1px solid #494949;
  border-left: 1px solid #494949;
}
.row {
  display: flex;
  /* flex-wrap: wrap; */
  margin: 0;
}

.row > div {
  border-right: 1px solid #494949;
  border-bottom: 1px solid #494949;
  display: flex;
  justify-content: flex-start;
  padding: 4px 0;
}
.col-4 {
  /* width: 32.24%; */
  width: 342px;
}
.col-8 {
  /* width: 64.52%; */
  width: 684px;
}
.col-12 {
  /* width: 100%; */
  width: 1026px;
}

.date-time-div {
  display: flex;
  width: 121px;
  justify-content: space-between;
}

.date-time-div span {
  text-align: center;
  padding: 0;
}

#dateYYYY {
  width: 50px;
}

#amount {
  padding-left: 20px;
}

.date-time-div {
  display: flex;
  width: 100px;
  justify-content: space-between;
}
.main-table h5 {
  margin: 0;
  font-size: 14px;
  white-space: pre;
  padding: 0.375rem 0.75rem;
  align-self: center;
}
.main-table p {
  white-space: pre;
  padding: 0.375rem 0.75rem;
  align-self: center;
  font-size: 15px;
  margin: 0;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.main-table input,
.main-table select {
  border-width: 0;
  background: transparent;
}
.generated-text {
  font-weight: 700;
  color: #333;
  font-size: 14px;
}
select::-ms-expand {
  display: none;
}
.jcb {
  justify-content: space-between !important;
}
.print {
  float: right;
  cursor: pointer;
}
