<div
  class="pay-invoice"
  *ngIf="paymentDone">
  <div class="container-fluid">
    <div class="logo-div">
      <img src="assets/img/logo.png" alt="" class="logo" width="80">
    </div>
    <h4 class="main-title">TRANSACTION RECEIPT</h4>
    <div class="main-table">
      <div class="row">
        <div class="col-4">
          <h5>Beneficiery Name: </h5>
          <p>{{payFormData.benefName}}</p>
        </div>
        <div class="col-8">
          <h5>Agent Mobile Number:</h5>
          <p>8967859713 ; 8927485537</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4 jcb">
          <h5>Sender Mobile Number:</h5>
          <p>{{payFormData.senderMobNo}}</p>
        </div>
        <div class="col-4">
          <h5>Agent Shop Name: </h5>
          <p>NarayanShanti Enterprise</p>
        </div>
        <div class="col-4">
          <h5>Sender Name:</h5>
          <p>{{payFormData.senderName}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <h5>Account Number: </h5>
          <p>{{payFormData.accountNumber}}</p>
        </div>
        <div class="col-4 jcb">
          <h5>Type:</h5>
          <p>{{payFormData.payType}}</p>
        </div>
        <div class="col-4">
          <h5>IFCS Code:</h5>
          <p>{{payFormData.ifscCode}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <h5>Bank Name:</h5>
          <p>{{payFormData.bankName}}</p>
        </div>
        <div class="col-4 jcb">
          <h5>Date:</h5>
          <!-- dynamically set -->
          <p class="date-time-div">{{payFormData.todayDate}}</p>
        </div>
        <div class="col-4 jcb">
          <h5>Time:</h5>
          <p class="date-time-div">
            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
            {{payFormData.todayTime}}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h5>Transaction Id:</h5>
          <p>{{payFormData.transactionId}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h5>Amount:</h5>
          <p>{{payFormData.payAmountInWords}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h5>Status:</h5>
          <select class="status-select">
            <option selected value="SUCCESS">SUCCESS</option>
            <option value="PENDING">PENDING</option>
            <option value="AWAITED">AWAITED</option>
            <option value="DENIED">DENIED</option>
            <option value="REJECTED">REJECTED</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <p class="generated-text">
    ** THIS IS COMPUTER GENERATED RECEIPT **
    <small class="print" onclick="window.print()">print</small>
    <small class="goback" onclick="gotoPayForm()">go back</small>
  </p>
</div>
<div
  class="error-box"
  *ngIf="!paymentDone">
  <mat-card>
    <h4>Looks like there is no Payment Information</h4>
    <p>Please go to Payment Page to make payment</p>
    <mat-divider></mat-divider>
    <br>
    <button
      type="button"
      mat-raised-button
      (click)="gotoPayForm()"
      color="primary">Make New Payment</button>
  </mat-card>

</div>